NEXT_PUBLIC_API_URL=http://localhost:4000/api
NEXT_PUBLIC_WHATSAPP_NUMBER=21655859891
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/topfripe202
NEXT_PUBLIC_FACEBOOK_URL=https://www.facebook.com/share/1BzADuL6Lt/?mibextid=wwXIfr
NEXT_PUBLIC_MAPS_URL=https://maps.apple/p/-RKpBgI4yKaaCE
NEXT_PUBLIC_SHOP_ADDRESS=Localisation TopFripe
MONGODB_URI=mongodb+srv://USER:PASSWORD@HOST/topfripe?retryWrites=true&w=majority
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
ADMIN_EMAIL=admin@topfripe.com
ADMIN_PASSWORD=TopFripe2026!
ADMIN_TOKEN=topfripe-admin-secret-2026-change-moi
